* {
  box-sizing: border-box;
}

.make-cookie {
  border: 0px;
  border-radius: 2px;
  background-color: rgb(146, 194, 184);
}

.progress-bar-start {
  position: relative;
  top: 30px;
  width: 100px;
  height: 10px;
  background-color: rgb(218, 218, 218);
  border-radius: 2px;
}

.progress-bar {
  position: absolute;
  background-color: rgb(105, 211, 35);
  height: 10px;
  width: 0px;
  border-radius: 2px;
}

.progress-bar-animation {
    animation: progress 4s linear;

}




@keyframes progress {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}

